<!-- views/login.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    
    <% if (typeof error !== 'undefined') { %>
      <p class="error"><%= error %></p>
    <% } %>
    
    <form action="/login" method="POST">
    
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      
      <button type="submit">Login</button>
    </form>
    
    <form action="/changepassword" method="GET">
      <button type="submit" class="forgot-password-button">Forgot Password?</button>
    </form>
    
    <p>Don't have an account? <a href="/signup">Sign up here</a>.</p>
  </div>
</body>
</html>

